<p *ngIf="show">No activities to track! Start by adding one</p>
<div>
  <ol style="list-style: none; padding: 0" >
    <li *ngFor="let el of todoel">
      <input (click)="onCheck(el)" type="checkbox" name={{el}}>
      <label for={{el}} [style.color]= "todoCheckColor[todoel.indexOf(el)]" [style.text-decoration] = "todoCheckDec[todoel.indexOf(el)]" >{{el}}</label>
    </li>
  </ol>
</div>
<input [(ngModel)]="element" >
<button (click)="onClick()">Add an Activity</button>
<button (click)="onClear()">Clear All</button>